.fetch-button {
  background-color: #d9534f;
  border: 2px solid #d43f3a;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: none;
  outline: none;
}

.fetch-button:hover {
  border: 2px solid #d43f3a;
  background-color: #c9302c;
  border-color: #ac2925;
}

.fetch-button:active {
  opacity: .8;
}

.fetch-button:disabled {
  background-color: lightgray;
  border-color: lightgray;
  cursor: not-allowed;
}

.header-logo {
  margin-bottom: 30px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  margin-right: 10px;
}

.container {
  width: 40%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
}