.container {
  width: 40%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header-logo {
  margin-bottom: 30px;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}

.title {
  margin-right: 10px;
}