#app {
  height: 100%;
}

.container {
  width: 40%;
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .container {
    width: 100%;
    max-width: 720px;
  }
}