* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 50px 0 0;
  height: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  background-color: #eee;
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 36px;
  margin: 0;
}

h2 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 10px;
}

p {
  margin: 0 0 10px;
}